@model MVC.Views.Home.Salarie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salarie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelephonePortable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelephonePortable)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneFix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelephoneFix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ville.Nom_Ville)
        </dt>
        <dd class="col-sm-10">
            @Model.Ville.Nom_Ville <!-- Remplacer Nom_Ville par la propriété appropriée de votre modèle Ville -->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
