@model IEnumerable<MVC.Views.Home.Salarie>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Enter name...">
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="searchResults">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<footer>
    <a class="nav-link text-dark nav-link-admin" asp-area="" asp-controller="Villes" asp-action="Create">Ville +</a>
</footer>

@section Scripts {
    <script>function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("searchResults");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Change index to match column index of name
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }</script>
}
